body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background: LightGray;
}
.wrapper {
  margin-top: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  text-shadow: 5px 3px 4px rgba(87, 151, 116, 0.95);
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
}
.quotes {
  color: #f1f5f9;
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: bold;
}
.quotes span {
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: normal;
}
.btn {
  width: 15vw;
  height: 6vh;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  margin: 0.7rem;
  padding: 0.4rem 0.6rem;
}
.tweet_btn {
  color: rgb(104, 166, 166);
  background: rgb(66, 31, 98);
}
.tweet_btn:hover {
  opacity: 0.8;
  color: rgb(193, 224, 224);
}
.quotes_btn {
  color: aqua;
  background: #510858;
}
.quotes_btn:hover {
  opacity: 0.8;
  color: rgb(113, 136, 136);
}
